.form-select {
  appearance: none;
  display: block;
  margin: 20px 20px;
  width: 280px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  padding: 0 0;
  outline: none;
  cursor: pointer;
}

.field-wrapper {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0rem 3rem;
}

.hide-cross-field {
  display: none;
}

.field-close {
  display: block;
  left: -3rem;
  position: relative;
  font-size: 14px;
  color: #000;
  opacity: 0.5;
  font-weight: 100;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 0px;
}

.field-close:focus {
  border: none;
  outline: none;
}


.group-pos {
  max-width: -webkit-fill-available;
}

