.form-select {
  appearance: none;
  display: block;
  margin: 20px auto;
  width: 280px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  padding: 0 0;
  outline: none;
}