.logo img{
  height: 50px;
  width:auto;
}

#glodal-search{
  margin-left: auto;
}

#glodal-search > input{
  margin: 0.5rem;
}

.btn {
  margin-left: 0.5rem;
}

.nav-pos{
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
}

.main-pos{
  margin-top: 72px;
}

.card {
  margin-bottom: 25px;
  align-items:center;
}

.card img{
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

article{
  padding: 3rem;
}

.card-body {
  width: 100%;
}

.card-text{
  width: 100%;
}

.collapsed-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



