.logo img{
  height: 50px;
  width:auto;
}

.nav-pos{
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
}

.main-pos{
  margin-top: 72px;
}

.card {
  margin-bottom: 25px;
  align-items:center;
}

.card img{
  height: 200px;
}

article{
  padding: 3rem;
}

