.welcome-container .slider-imgs > img{
  position: fixed;
  top: 0;
  height: 100vh;
  width: -webkit-fill-available;
  z-index: 2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  overflow: hidden;
  object-fit: cover;
}

.slider-imgs {
  left: 0;
  top: 0;
  transition: transform .5s, opacity .5s, z-index .5s;
}

.welcome-btn {
  z-index: 3;
  font-size: 70px;
  font-weight: lighter;
  position: absolute;
  bottom: 50px;
  left: calc(100% / 2 - 35px);
  color: white;
  cursor: pointer;
}

.hide-welcome {
  opacity: 0;
  transition: opacity 0.5s;
}

.just-for-hidding{
  display: none;
}
