.welcome-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: -webkit-fill-available;
  z-index: 2;
  background-image: url('../img/cakes/bg.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome-container img {
  top: 0;
  left: 0;
  object-fit: cover;
}

.welcome-btn {
  z-index: 3;
  font-size: 70px;
  font-weight: lighter;
  position: absolute;
  bottom: 50px;
  left: calc(100% / 2 - 35px);
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.hide-welcome {
  opacity: 0;
  transition: opacity 3s;
}