.welcome-container {
  position: absolute;
  height: auto;
  width: -webkit-fill-available;
  z-index: 2;
}

.welcome-container img {
  max-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }

}

.welcome-btn {
  z-index: 2;
  font-size: 70px;
  font-weight: lighter;
  position: absolute;
  top: 85%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, 500%);
  -ms-transform: translate(-50%, -50%);
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.hide-welcome {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}